# Flutter
.flutter/
flutter_export_environment.sh
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build
/android/build
/android/.gradle
/android/captures/
/android/gradle-wrapper.jar
/android/local.properties
/android/**/*.jar
/android/**/*.class

# iOS
/ios/**/*.mode1v3
/ios/**/*.mode2v3
/ios/**/*.moved-aside
/ios/**/*.pbxuser
/ios/**/*.perspectivev3
/ios/**/*.sync/
/ios/**/*.xcuserstate
/ios/.generated/
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# OS
.DS_Store
Thumbs.db
*.log
*.pyc
*.swp
*.class

# Firebase - OPCIONAL: Comenta/descomenta según necesites
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist

# Miscellaneous
migrate_working_dir/